In [106]:
# Adding dependencies
import pandas as pd

In [107]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_data_to_load = "201908-citibike-tripdata.csv"
citibike_tripdata_df = pd.read_csv(citibike_data_to_load)
citibike_tripdata_df.sample(n=5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1646550,201,2019-08-22 15:02:02.2230,2019-08-22 15:05:23.6390,402.0,Broadway & E 22 St,40.740343,-73.989551,285.0,Broadway & E 14 St,40.734546,-73.990741,27592,Subscriber,1983,1
516657,1294,2019-08-07 14:51:21.9140,2019-08-07 15:12:55.9840,3641.0,Broadway & W 25 St,40.742869,-73.989186,79.0,Franklin St & W Broadway,40.719116,-74.006667,26873,Subscriber,1994,1
1491708,384,2019-08-20 14:56:43.2630,2019-08-20 15:03:08.2310,435.0,W 21 St & 6 Ave,40.741740,-73.994156,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,39169,Subscriber,1993,2
1648995,449,2019-08-22 15:43:05.7870,2019-08-22 15:50:35.2800,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,3498.0,Pleasant Ave & E 120 St,40.797477,-73.931185,28354,Subscriber,1990,1
812751,1193,2019-08-11 15:38:39.4400,2019-08-11 15:58:32.6340,307.0,Canal St & Rutgers St,40.714275,-73.989900,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,33231,Customer,1962,1

In [108]:
# 2. Check the datatypes of your columns. 
citibike_tripdata_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [109]:
# 3. Convert the 'tripduration' column to datetime datatype.
# Decision Pt. a) Creating new column vs. b) overwriting column; chose a) 
# key to getting this to work > Use "", not '', for the unit component. Citation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

citibike_tripdata_df["tripduration_conversion"] = pd.to_datetime(citibike_tripdata_df["tripduration"], unit="m")

In [110]:
# 4. Check the datatypes of your columns. 
citibike_tripdata_df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_conversion    datetime64[ns]
dtype: object

In [111]:
# Double check the new column's structure
citibike_tripdata_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_conversion
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 06:33:00
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 10:27:00
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 18:52:00
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1970-01-02 05:40:00
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1970-01-02 01:17:00

In [113]:
# 5. Export the Dataframe as a new CSV file without the index.
# resource 1) full path; link - https://datatofish.com/export-dataframe-to-csv/
# resource 2) miscellaneous; link: https://www.codegrepper.com/code-examples/rust/pandas+to+csv+without+index
# Code MODEL: df.to_csv(r'/directory/path/file_name.csv', index = False, header = True)
# Path MODEL: r‘C:\Users\Ron\Desktop\export_dataframe.csv‘
# Overwriting file if file name already exists; link: https://stackoverflow.com/questions/40375366/pandas-to-csv-checking-for-overwrite

citibike_tripdata_df.to_csv('citibike_tripdata_df.csv', index=False, header=True)